@page "/"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Squid Log Parser</h2>
            <p>Welcome to Squid Proxy Access Log parser</p>
        </div>
    </div>
</div>
